body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;

  h1, h2, h3 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
  }
}

i {
  color: #1c71d8;
  font-size: 2rem;
  margin: 0 0.5rem 0 0;
}
